[submodule "exams"]
	path = exams
	url = https://github.com/MagicalLeo/test-repo.git

[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/MagicalLeo/learning-cxx.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/MagicalLeo/learning-lm-rs.git
